{% load static %}

<footer class="rodape">
    <p class="rodape__texto">Contatos:</p>
    <div class="rodape__contatos">
        <a class="rodape__contatos__links" href="mailto:jopecardozo@gmail.com">Email:jopecardozo@gmail.com</a>
        <a class="rodape__contatos__links" href="https://www.instagram.com/johnny_cardozoo" target="_blank">
            <img src="{% static 'assets/instagram.png' %}">
            Instagram
        </a>
        <a class="rodape__contatos__links" href="https://github.com/JohnnyCardozo" target="_blank">
            <img src="{% static 'assets/github.png' %}">
            Github
        </a>
        <a class="rodape__contatos__links" href="https://www.linkedin.com/in/joao-cardozo-/" target="_blank">
            <img src="{% static 'assets/linkedin.png' %}">
            Linkedin
        </a>
    </div>
</footer>