{% load static %}

<header class="cabecalho">
    <section class="cabecalho__logo__buscar">
        <div class="logo">
            <img class="logo__imagem" src="{% static 'assets/blackDice.png' %}">
            <h1 class="logo__titulo">Le capitaine
                <div class="piscando">_</div>
            </h1>
        </div>
        <form action="{% url 'buscar' %}" class="logo__busca">
            <button type="submit" class="logo__busca__botao">
                <img class="logo__busca__imagem" src="{% static 'assets/lupa.png' %}">
            </button>
            <input type="search" class="logo__busca__input" name="buscar">
        </form>
    </section>
    <nav class="navegacao">
        <a class="navegacao__links" href="{% url 'index' %}">INICIO</a>
        <a class="navegacao__links" href="{% url 'videoGames' %}">VIDEOGAMES</a>
        <a class="navegacao__links" href="{% url 'jogosTabuleiro' %}">JOGOS DE TABULEIRO</a>
        <a class="navegacao__links" href="{% url 'economia' %}">ECONOMIA</a>
        <a class="navegacao__links" href="{% url 'artigos' %}">ARTIGOS</a>
        <a class="navegacao__links" href="{% url 'sobreMim' %}">SOBRE MIM</a>
    </nav>  
</header>