{% extends 'paginas/base.html' %}
{% load static %}

{% block content %}

{% if artigo.imagem == "" or artigo.imagem == null %}
<img class="imagem__artigo" src="{% static 'assets/Imagenotfound.png'%}">
{% else %}
<img class="imagem__artigo" src="{{ artigo.imagem.url }}">
{% endif %}

<h1 class="titulo__artigo">{{ artigo.nome }}</h1>
<h2 class="legenda__artigo">{{ artigo.legenda }}</h2>
<p class="texto__artigo">{{ artigo.artigo }} Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus porro ex nesciunt quibusdam, enim magnam sed iusto! Debitis optio adipisci perspiciatis, error assumenda esse, ea quia tempora maxime soluta ducimus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, consectetur placeat. Ut, error facere, autem sed nostrum eum fugit provident, dolorem praesentium obcaecati in quidem possimus non veritatis animi natus.</p>

{% endblock %}