{% extends 'paginas/base.html' %}
{% load static %}

{% block content %}
<h1 class="carrossel__titulo">Busca solicitada</h1>
<main class="ultimos__artigos">
    {% if cards %}
    {% for jogos in cards %}
    <a class="ultimos__artigos__informacao" href="{% url 'artigoEscrito' jogos.id %}">

        {% if jogos.imagem == "" or jogos.imagem == null %}
        <img class="artigo__imagem" src="{% static 'assets/Imagenotfound.png'%}">
        {% else %}
        <img class="artigo__imagem" src="{{jogos.imagem.url}}">
        {% endif %}

        <div class="artigo__informacao">
            <h3 class="artigo__nome">{{ jogos.nome }}</h3>
            <p class="artigo__legenda">{{ jogos.legenda }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aliquid voluptatum, totam commodi minus vitae fugiat. Sint magni recusandae delectus, ea, eos molestiae ut autem sunt minima labore asperiores beatae. Lorem ipsum dolor, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus veniam modi distinctio doloremque repellat aliquam excepturi vero nulla ut, suscipit facere commodi optio mollitia placeat eligendi nostrum! Aperiam, adipisci rem?</p>
        </div>    
    </a>
    {% endfor %}
    {% else %}
    <h2 class="carrossel__titulo">!Não foi encontrado nenhum resultado para sua busca!</h2>
    {% endif %}
</main>
{% endblock %}