{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/cadastroJogo.css' %}">
    
</head>
<body>
    <header>
        <h1>Jogos que vou cadastrar</h1>
        <nav class="navegacao">
            <a class="navegacao__links" href="{% url 'index' %}">INICIO</a>
        </nav>
    </header>

    <main>
        <form class="formulario__cadastro__jogo" id="novoJogo">
            <fieldset class="formulario__divisao__cadastro__jogo">
                <legend class="divisao__legenda">Cadastro de jogo</legend>
                <div>
                    <p>
                        <label class="divisao__campo__texto" for="cadastroNomeJogo">
                            <span class="legenda__campo__span">Nome do jogo:</span>
                            <input class="campo__input__texto" type="text" id="cadastroNomeJogo" placeholder="Nome do jogo em destaque">
                        </label>
                    </p>
                    <p>
                        <label class="divisao__campo__texto" for="cadastroDesenvolvedora">
                            <span class="legenda__campo__span">Desenvolvedora do jogo:</span>
                            <input class="campo__input__texto" type="text" id="cadastroDesenvolvedora" placeholder="Quem desenvolveu">
                        </label>
                    </p>
                    <p>
                        <label class="divisao__campo__texto" for="cadastroPublicadora">
                            <span class="legenda__campo__span">Publicadora do jogo:</span>
                            <input class="campo__input__texto" type="text" id="cadastroPublicadora" placeholder="Quem publicou">
                        </label>
                    </p>
                    <p>
                        <label class="divisao__campo__data" for="cadastroDataLancamento">
                            <span class="legenda__campo__span">Data de publicação:</span>
                            <input class="campo__input__data" type="date" id="cadastroDataLancamento">
                        </label>
                    </p>
                    <p>
                        <label class="divisao__campo__numero" for="cadastroNumeroJogadores">
                            <span class="legenda__campo__span">Número de jogadores:</span>
                            <input class="campo__input__numero" type="number" id="cadastroNumeroJogadores">
                        </label>
                    </p>
                </div>
                <div class="divisao__plataforma">
                    <span class="legenda__campo__span">Plataformas:</span>
                    <p>
                        <input type="checkbox" id="plataformaWindows">
                        <label class="divisao__campo__checkbox" for="plataformaWindows">Windows</label>
                    </p>
                    <p>
                        <input type="checkbox" id="plataformaMac">
                        <label class="divisao__campo__checkbox" for="plataformaMac">Mac</label>
                    </p>
                    <p>
                        <input type="checkbox" id="plataformaLinux">
                        <label class="divisao__campo__checkbox" for="plataformaLinux">Linux</label>
                    </p>
                    <p>
                        <input type="checkbox" id="plataformaPlaystation">
                        <label class="divisao__campo__checkbox" for="plataformaPlaystation">Playstation</label>
                    </p>
                    <p>
                        <input type="checkbox" id="plataformaXbox">
                        <label class="divisao__campo__checkbox" for="plataformaXbox">Xbox</label>
                    </p>
                    <p>
                        <input type="checkbox" id="plataformaNintendo">
                        <label class="divisao__campo__checkbox" for="plataformaNintendo">Nintendo</label>
                    </p>
                    <p>
                        <input type="checkbox" id="plataformaTabuleiro">
                        <label class="divisao__campo__checkbox" for="plataformaTabuleiro">Jogo de tabuleiro</label>
                    </p>
                </div>
                <div class="divisao__genero">
                    <span class="legenda__campo__span">Gêneros:</span>
                    <div class="divisao__genero">
                        <p>
                            <input type="checkbox" id="generoHackNslash">
                            <label class="divisao__campo__checkbox" for="generoHackNslash">Hack n' Slash</label>
                            
                        </p>
                        <p>
                            <input type="checkbox" id="generoPlataforma">
                            <label class="divisao__campo__checkbox" for="generoPlataforma">Plataforma</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoArcade">
                            <label class="divisao__campo__checkbox" for="generoArcade">Arcade</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoCorrida">
                            <label class="divisao__campo__checkbox" for="generoCorrida">Corrida</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoEstrategia">
                            <label class="divisao__campo__checkbox" for="generoEstrategia">Estratégia</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoTiro">
                            <label class="divisao__campo__checkbox" for="generoTiro">Tiro</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoRPG">
                            <label class="divisao__campo__checkbox" for="generoRPG">RPG</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoTabuleiro">
                            <label class="divisao__campo__checkbox" for="generoTabuleiro">Tabuleiro</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoMundoAberto">
                            <label class="divisao__campo__checkbox" for="generoMundoAberto">Mundo aberto</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoStealth">
                            <label class="divisao__campo__checkbox" for="generoStealth">Stealth</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoLuta">
                            <label class="divisao__campo__checkbox" for="generoLuta">Luta</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoQuebraCabeça">
                            <label class="divisao__campo__checkbox" for="generoQuebraCabeça">Quebra-Cabeça</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoRogueLike">
                            <label class="divisao__campo__checkbox" for="generoRogueLike">Roguelike</label>
                        </p>
                        <p>
                            <input type="checkbox" id="generoSimulacao">
                            <label class="divisao__campo__checkbox" for="generoSimulacao">Simulação</label>
                        </p>
                    </div>
                </div>
            </fieldset>

            <button class="botao__cadastrar" type="submit">Cadastrar Jogo</button>
        </form>

        <ul class="lista__jogos" id="listaJogos"> <h2>Jogos Cadastrados</h2>
            <!-- <div class="item__jogo">
                <div>
                    <li class="informação__jogo">Nome:</li>
                    <li class="informação__jogo">Desenvolvedora:</li>
                    <li class="informação__jogo">Publicadora:</li>
                    <li class="informação__jogo">Data de Lançamento:</li>
                    <li class="informação__jogo">Número de jogadores:</li>
                </div>
                <button class="deleta__jogo">Deletar jogo</button>
            </div> -->
        </ul>
    </main>
    <script src="../../Js/cadastroJogo.js"></script>
</body>
</html>