{% extends 'paginas/base.html' %}
{% load static %}

{% block content %}
    <main class="estrutura__apresentacao">
        <h1 class="apresentacao">
            <p class="apresentacao__destaque">Site focado em jogos.</p> 
            <p>Em qualquer área, em qualquer plataforma.</p>
            <p class="apresentacao__destaque">Sendo jogável, está aqui</p> 
        </h1>

        <p class="apresentacao__texto">
            Olá, sou o João "Leskov" Pedro, sou um apaixonado por jogos, 
            economia, IA e outras coisas mais que você pode acompanhar aqui
        </p>
    </main>

    <section class="carrossel">
        <h2 class="carrossel__titulo">Ultimas postagens</h2>
        <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% if cards %}
                    {% for imagens in cards %}
                    <a class="swiper-slide" href="{% url 'artigoEscrito' %}">
                        <img class="swiper-img" src="{% static 'assets/'%}{{  imagens.imagem}}">
                        <div >
                            <h3 class="swiper-info-nome">{{ imagens.nome }}</h3>
                            <p class="swiper-info-legenda">{{ imagens.legenda }}</p>
                        </div>    
                    </a>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            spaceBetween: 10,
            slidesPerView: 2,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true,
                type: "fraction"
            },
            autoplay: {
                delay: 3000,
            },
            centeredSlides: true,
            centeredSlidesBounds: true,
            loop: true,
        });
    </script>

{% endblock %}