{% extends 'paginas/base.html' %}
{% load static %}

{% block content %}
    <div class="estrutura__apresentacao">
        <h1 class="apresentacao">
            <p class="apresentacao__destaque">Site focado em jogos.</p> 
            <p>Em qualquer área, em qualquer plataforma.</p>
            <p class="apresentacao__destaque">Sendo jogável, está aqui</p> 
        </h1>

        <p class="apresentacao__texto">
            Olá, sou o João "Leskov" Pedro, sou um apaixonado por jogos, 
            economia, IA e outras coisas mais que você pode acompanhar aqui
        </p>
    </div>

    <div class="carrossel">
        <h2 class="carrossel__titulo">Novidades</h2>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                {% if cards %}
                {% for jogos in cards|slice:":5" %}
                <a class="swiper-slide" href="{% url 'artigoEscrito' jogos.id %}">

                    {% if jogos.imagem == "" or jogos.imagem == null %}
                    <img class="swiper-img" src="{% static 'assets/Imagenotfound.png'%}">
                    {% else %}
                    <img class="swiper-img" src="{{jogos.imagem.url}}">
                    {% endif %}
                    
                    <div >
                        <h3 class="swiper-info-nome">{{ jogos.nome }}</h3>
                        <p class="swiper-info-legenda">{{ jogos.legenda }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus similique vitae omnis doloremque atque? Quisquam, autem esse. Temporibus, ea magnam expedita alias earum quibusdam, tenetur odio, numquam possimus error quod.</p>
                    </div>    
                </a>
                {% endfor %}
                {% else %}
                {% endif %}

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>

    <h4 class="carrossel__titulo">Ultimos artigos</h4>
    <main class="ultimos__artigos">
        {% if cards %}
        {% for jogos in cards|slice:":10" %}
        <a class="ultimos__artigos__informacao" href="{% url 'artigoEscrito' jogos.id %}">

            {% if jogos.imagem == "" or jogos.imagem == null %}
            <img class="artigo__imagem" src="{% static 'assets/Imagenotfound.png'%}">
            {% else %}
            <img class="artigo__imagem" src="{{jogos.imagem.url}}">
            {% endif %}

            <div class="artigo__informacao">
                <h3 class="artigo__nome">{{ jogos.nome }}</h3>
                <p class="artigo__legenda">{{ jogos.legenda }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos aliquid voluptatum, totam commodi minus vitae fugiat. Sint magni recusandae delectus, ea, eos molestiae ut autem sunt minima labore asperiores beatae. Lorem ipsum dolor, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus veniam modi distinctio doloremque repellat aliquam excepturi vero nulla ut, suscipit facere commodi optio mollitia placeat eligendi nostrum! Aperiam, adipisci rem?</p>
            </div>    
        </a>
        {% endfor %}
        {% else %}
        {% endif %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            spaceBetween: 10,
            slidesPerView: 2,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true,
                type: "fraction"
            },
            autoplay: {
                delay: 3000,
            },
            centeredSlides: true,
            centeredSlidesBounds: true,
            loop: true,
        });
    </script>

{% endblock %}