{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo post</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/formularioArtigo.css' %}">
</head>

<body>
    <header>
        <h1>o que vou escrever</h1>
        <nav class="navegacao">
            <a class="navegacao__links" href="{% url 'index' %}">INICIO</a>
        </nav>
    </header>

    <main>
        <form class="formulario__artigo" id="novoArtigo">
            <fieldset class="formulario__divisao__artigo">
              <legend class="divisao__legenda">Nova publicação</legend>
              <p>
                <label class="divisao__campo__texto" for="publicacaoTitulo">
                    <span class="legenda__campo__span">Título:</span>
                    <input class="campo__input__texto" type="text" id="publicacaoTitulo" placeholder="Nome do artigo">
                </label>
              </p>
              <p>
                <label class="divisao__campo__texto" for="publicacaoEmail">
                    <span class="legenda__campo__span">Email do publicador:</span>
                    <input class="campo__input__texto" type="email" id="publicacaoEmail" placeholder="Email de quem escreveu">
                </label>
              </p>
              <p>
                <label class="divisao__campo__texto" for="publicacaoArtigo">
                    <span class="legenda__campo__span">Artigo:</span>
                    <div class="container">
                        <div class="options__editor__texto">
                            <button type="button" id="bold" class="option__button format">
                                <i class="fa-solid fa-bold"></i>
                            </button>
                            <button type="button" id="italic" class="option__button format">
                                <i class="fa-solid fa-italic"></i>
                            </button>
                            <button type="button" id="underline" class="option__button format">
                                <i class="fa-solid fa-underline"></i>
                            </button>
                            <button type="button" id="strikethrough" class="option__button format">
                                <i class="fa-solid fa-strikethrough"></i>
                            </button>
                            <button type="button" id="superscript" class="option__button script">
                                <i class="fa-solid fa-superscript"></i>
                            </button>
                            <button type="button" id="subscript" class="option__button script">
                                <i class="fa-solid fa-subscript"></i>
                            </button>
                            <button type="button" id="insertOrderedList" class="option__button">
                                <i class="fa-solid fa-list-ol"></i>
                            </button>

                            <button type="button" id="insertUnorderedList" class="option__button">
                                <i class="fa-solid fa-list"></i>
                            </button> 

                            <button type="button" id="undo" class="option__button">
                                <i class="fa-solid fa-rotate-left"></i>
                            </button>
                            <button type="button" id="redo" class="option__button">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>

                            <button type="button" id="createLink" class="option__button">
                                <i class="fa-solid fa-link"></i>
                            </button>
                            <button type="button" id="unlink" class="option__button">
                                <i class="fa-solid fa-unlink"></i>
                            </button>

                            <button type="button" id="justifyLeft" class="option__button align">
                                <i class="fa-solid fa-align-left"></i>
                            </button>
                            <button type="button" id="justifyCenter" class="option__button align">
                                <i class="fa-solid fa-align-center"></i>
                            </button>
                            <button type="button" id="justifyLeft" class="option__button align">
                                <i class="fa-solid fa-align-left"></i>
                            </button>
                            <button type="button" id="justifyFull" class="option__button align">
                                <i class="fa-solid fa-align-justify"></i>
                            </button>
                            <button id="indent" class="option__button spacing">
                                <i class="fa-solid fa-indent"></i>
                            </button>
                            <button type="button" id="outdent" class="option__button spacing">
                                <i class="fa-solid fa-outdent"></i>
                            </button>

                            <select id="formatBlock" class="adv__option__button">
                                <option value="H1">H1</option>
                                <option value="H2">H2</option>
                                <option value="H3">H3</option>
                                <option value="H4">H4</option>
                                <option value="H5">H5</option>
                                <option value="H6">H6</option>
                            </select>

                            <select id="fontName" class="adv__option__button"></select>
                            <select id="fontSize" class="adv__option__button"></select>

                            <div class="input-wrapper">
                                <input type="color" id="foreColor" class="adv__option__button">
                                <label for="foreColor">Cor da Fonte (padrão 173, 255, 47)</label>
                            </div>
                            <div class="input-wrapper">
                                <input type="color" id="backColor" class="adv__option__button">
                                <label for="backColor">Cor de Fundo</label>
                            </div>
                            <div id="publicacaoArtigo" contenteditable="true"></div>
                        </div>
                    </div>
                </label>
              </p>
              <p class="divisao__campo__imagem" id="publicacaoImagem">
                <span class="legenda__campo__span">Imagens:</span>
                <input class="campo__file__imagem" type="file" alt="Imagem que quer postar" accept="image/*" multiple>
              </p>
              <p class="divisao__campo__hidden" id="publicacaoData">
                <input class="campo__hidden" type="hidden" value="">
              </p>
            </fieldset>

            <fieldset class="formulario__divisao__area">
                <legend class="divisao__legenda">Área que quer publicar</legend>
                <p>
                    <input type="checkbox" id="areaVideoGames">
                    <label class="divisao__campo__checkbox" for="areaVideoGames">Video Games</label>
                </p>
                <p>
                    <input type="checkbox" id="areaJogosTabuleiro">
                    <label class="divisao__campo__checkbox" for="areaJogosTabuleiro">Jogos de Tabuleiro</label>
                </p>
                <p>
                    <input type="checkbox" id="areaEconomia">
                    <label class="divisao__campo__checkbox" for="areaEconomia">Economia</label>
                </p>
                <p>
                    <input type="checkbox" id="areaArtigos">
                    <label class="divisao__campo__checkbox" for="areaArtigos">Artigos</label>
                </p>
            </fieldset>

            <button class="botao__enviar" type="submit">Envie sua publicação</button>
            <a class="botao__enviar" href="{% url 'artigoEscrito' %}">ARTIGOS</a>
        </form>
    </main>

    <script src="./Js/editorTexto.js"></script>
</body>
</html>